@model TestSave
@{
    ViewData["Title"] = "View";
}
<head>
    <style>
        body {
            background-color: #68437d min-height: 380px;
        }
    </style>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

</head>
<body>
    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-form-title">Welcome</div>
                @using (Html.BeginForm("SaveData", "Home", FormMethod.Post))
                {
                    <div class="wrap-input">
                        <div> @Html.TextBoxFor(a => a.Id, new { placeholder = "Id", @class = "input-container" })</div>
                    </div>

                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Name, new { placeholder = "Name", @class = "input-container" })
                    </div>
                    <div>
                        <div class="container-login-form-btn">

                            <button class="login-form-btn">
                                Login
                            </button>

                        </div>
                    </div>

                }
                <div class="login-form-title"> @Html.ActionLink("Don't have an account?Create one", "SaveData", "Home")</div>
            </div>

        </div>
    </div>
</body>

